<div class="container mt-5">
    <h3>Solicitud de cambio de contraseña</h3>
    <form [formGroup]="form" (submit)= "send()" method="post">
        <div class="row form-group">
            <div class="col-xs-12 col-md-6">
                <input type="password" class="form-control" placeholder="Ingrese la nueva contraseña" 
                    formControlName="password"  name="password" required>

                <div class="alert alert-danger" *ngIf="form.controls.password.touched && form.controls.password.invalid">
                    <div *ngIf="form.controls.password.errors.required">el campo es requerido</div>
                    <div *ngIf="form.controls.password.errors.minlength">minimo 3 caracteres</div>
                    <div *ngIf="form.controls.password.errors.forbiddenName">solo se permite letras y números</div>
                </div>

            </div>            
        </div>
        <div class="row form-group">
            <div class="col-xs-12 col-md-6">
                <input type="password" class="form-control" placeholder="Confirme la nueva contraseña" 
                    formControlName="confirmPassword" name="confirmPassword" required>
                <div class="alert alert-danger" *ngIf="form.controls.confirmPassword.touched && form.controls.confirmPassword.invalid">
                    <div *ngIf="form.controls.confirmPassword.errors.required">el campo es requerido</div>
                    <div *ngIf="form.controls.confirmPassword.errors.confirmedValidator">la contraseña no coincide</div>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-12 col-md-6">
                <button type="submit" class="btn btn-block btn-success"
                    [disabled]="!form.valid">ENVIAR</button>
            </div>
        </div>
    </form>
</div>

