<div class="container mt-5">
    <h3>Solicitud de cambio de contraseña</h3>
    <p>Se le enviará un correo electronico para que pueda realizar la operación</p>
    <form (submit)= "send()" method="post" #formResetPassword="ngForm">
        <div class="row form-group">
            <div class="col-xs-12 col-md-6">
                <input type="text" class="form-control" placeholder="Ingrese el correo" 
                    [(ngModel)]="passwordResetRequest.email" #email="ngModel" name="email" [email]="true" required>
                <div class="alert alert-danger" *ngIf="email.touched && email.invalid">
                    <div *ngIf="email.errors.required">el campo es requerido</div>
                    <div *ngIf="email.errors.email">el correo tiene formato incorrecto</div>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-12 col-md-6">
                <button type="submit" class="btn btn-block btn-success"
                    [disabled]="!formResetPassword.valid">ENVIAR</button>
            </div>
        </div>
    </form>
</div>
